.main-footer {
    padding: 70px 0;
    color: $color-light;
    text-align: center;
    @include bg-image("footer.jpg");
    a>img {
        margin-bottom: 40px;
    }
    h4 {
        margin-bottom: 30px;
    }
    span {
        a>i {
            font-size: 40px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 15px;
        }
    }
    nav {
        margin-bottom: 15px;
        color: $color-light;
        text-transform: uppercase;
    }
    p {
        padding-bottom: 15px;
        font-weight: 400;
        max-width: 630px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 1em;
        padding-right: 1em;
    }
}